/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import "./themes.scss";

:root {
    --app-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
    height: 100vh;
    margin: 0;
    background: var(--background);
    font-family: var(--app-font);
}

// PRIMENG

.p-inputtext {
    background: var(--primeng-input-background-color);
    border: 1px solid var(--primeng-input-border-color);
    color: var(--text-color);
}
.p-inputtext:enabled:hover {
    border-color: #2196F3;
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: #2196F3;
}

body .p-dialog {
    border: 1px solid var(--primeng-input-border-color);
}
body .p-dialog .p-dialog-header {
    border: none;
    background: var(--primeng-dialog-header-color);
    color: var(--text-color);
    font-variant: small-caps;
    font-size: 18px;
    padding: 10px;
}
body .p-dialog .p-dialog-content {
    border: none;
    background: var(--primeng-dialog-content-color);
    color: var(--text-color);
}