// HEADER

.header {
    height: 80px;
    padding: 10px;
}

.header-theme {
    float: right;
    margin: -40px 10px 0 0;
}

.header-theme-light {
    cursor: pointer;
    border-radius: 17px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.header-theme-dark {
    cursor: pointer;
    border-radius: 17px;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    margin-left: 10px;
}

.header-theme-help {
    cursor: pointer;
    margin-left: 20px;
}

.header-title {
    text-align: center;
    color: var(--text-color);
    font-family:'Titan One', cursive;
	font-size:50px;
    user-select: none;
}

// MENU

.grid-menu {
    height: calc(100% - 80px);
    width: 160px;
    float: left;
    overflow: auto;
}

.grid-menu-rows {
    width: 50px;
    text-align: center;
    float: left;
    padding: 4px 0 4px 0;
    font-size: 20px;
    margin: 0 0 0 10px;
}

.grid-menu-columns {
    width: 50px;
    text-align: center;
    float: left;
    padding: 4px 0 4px 0;
    font-size: 20px;
    margin: 0 0 0 6px;
}

.grid-menu-x {
    color: var(--text-color);
    font-family:'Titan One', cursive;
	font-size:20px;
    float: left;
    margin: 9px 0 0 5px;
    user-select: none;
}

.grid-menu-button {
    margin: 5px 0 20px 10px;
    width: 124px;
}

.grid-menu-start {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-start-active {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px red;
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-start-used {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
    opacity: 0.3;
}

.grid-menu-end {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-end-active {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px red;
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-end-used {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
    opacity: 0.3;
}

.grid-menu-boulder {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-boulder-active {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px red;
    border-radius: 15px;
    padding: 7px;
}

.grid-menu-gravel {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-gravel-active {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px red;
    border-radius: 15px;
    padding: 7px;
}

.grid-menu-wormholeEntrance {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-wormholeEntrance-active {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px red;
    border-radius: 15px;
    padding: 7px;
}

.grid-menu-wormholeExit {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-wormholeExit-active {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px red;
    border-radius: 15px;
    padding: 7px;
}

.grid-menu-blank {
    margin: 0 0 25px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
}
.grid-menu-blank-active {
    margin: 0 0 25px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px red;
    border-radius: 15px;
    padding: 7px;
}

.grid-menu-calculate {
    margin: 0 0 10px 33px;
    cursor: pointer;
    box-shadow: 0px 0px 7px 2px #14bd00;
    border-radius: 15px;
    padding: 7px;
}

// GRID

.grid-wrapper {
    height: calc(100% - 80px);
    width: calc(100% - 160px);;
    float: left;
}

#grid {
    padding: 20px;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
}

.grid-element {
    border: 1px solid var(--border-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-element-path {
    border: 1px solid var(--border-color);
    background: #e67f7f59;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-element-img {
    cursor: pointer;
    padding: 5px;
}