.grid-menu-element-wrapper {
    margin: 0 0 15px 15px;
    display: block;
}
.grid-menu-element {
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--border-color);
    border-radius: 15px;
    padding: 7px;
    float: left;
}
.grid-menu-element-text {
    width: 595px;
    float: left;
    height: 95px;
    padding-left: 20px;
    user-select: none;
}